.contact {
  align-items: center;
  border-top: $size-1 solid $primary-5;
  display: flex;
  flex-direction: column;
}

.contact__title-box {
  background: $white;
  border: $size-1 solid $primary-5;
  border-radius: $size-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -$size-5;
  padding: $size-2 $size-6;
  @media (min-width: $breakpoint-2) {
    align-self: flex-start;
    margin-left: $size-7;
    margin-top: -$size-6;
  }
}

.contact__title {
  color: $primary-7;
  font-family: $header;
  font-size: $size-4;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-2) {
    font-size: $size-6;
  }
}

.contact__social-links {
  display: flex;
  margin: $size-8 0 $size-9 0;
}

.contact__brackets {
  color: $secondary-3;
  font-family: $text;
  font-size: $size-8;
  font-weight: 300;
  line-height: 0.5;
  margin: 0 $size-4;
  padding: 0;
  @media (min-width: $breakpoint-2) {
    display: block;
    font-size: $size-10;
  }
}
