.home {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: $size-10 auto $size-8 auto;
  max-width: 100rem;
  padding: 0 $size-4;
  @media (min-width: $breakpoint-1) {
    margin: $size-10 25% $size-9 25%;
  }
  @media (min-width: $breakpoint-2) {
    flex-direction: row;
    margin: $size-10 auto $size-12 auto;
  }
}

.home__title-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: $size-3;
  @media (min-width: $breakpoint-2) {
    margin: 0;
    margin-left: -$size-9;
    align-items: flex-start;
  }
}

.home__title {
  color: $primary-7;
  font-family: $header;
  font-size: $size-6;
  font-weight: 700;
  letter-spacing: 0.3rem;
  line-height: 1;
  margin: 0;
  @media (min-width: $breakpoint-1) {
    font-size: $size-6;
  }
  @media (min-width: $breakpoint-2 - 13) {
    font-size: $size-7;
  }
  @media (min-width: $breakpoint-3) {
    font-size: 7.2rem;
  }
}

.home__subtitle {
  color: $gray-5;
  font-family: $header;
  font-size: $size-4;
  font-weight: 300;
  margin: $size-3 0;
  @media (min-width: $breakpoint-1) {
    font-size: 1.8rem;
  }
  @media (min-width: $breakpoint-2 - 13) {
    font-size: $size-5;
  }
  @media (min-width: $breakpoint-3) {
    font-size: $size-6;
  }
}

.home__text-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home__text-box {
  border-left: $size-1 solid $secondary-2;
  margin-top: $size-6;
  padding: $size-5 $size-4;
  width: $size-14;
  @media (max-width: $breakpoint-2 - 1) {
    display: none;
  }
}

.home__text-box--mobile {
  border-left: $size-1 solid $secondary-2;
  box-sizing: border-box;
  margin-top: $size-6;
  padding: $size-2;
  width: 100%;
  @media (min-width: $breakpoint-2) {
    display: none;
  }
}

.home__text {
  color: $gray-7;
  font-family: $text;
  font-size: $size-3;
  line-height: 2;
  margin: 0;
  padding: $size-2;
  @media (min-width: $breakpoint-2) {
    font-size: $size-4;
  }
}

.home__text-link {
  @extend .home__text;
  color: $primary-7;
  padding: 0;
  text-decoration: none;
}

.home__text-link:hover {
  color: $primary-5;
}
