.navbar {
  align-items: flex-start;
  background: $gray-3;
  box-sizing: border-box;
  box-shadow: $shadow-1;
  display: flex;
  flex-direction: column;
  font-family: $text;
  justify-content: center;
  height: auto;
  margin: 0;
  padding: 0 $size-3;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 5;
  @media (min-width: $breakpoint-2) {
    align-items: center;
    flex-direction: row;
    height: 8rem;
    justify-content: space-between;
  }
}

.navbar__brand {
  background: $primary-7;
  border: $size-1 solid $primary-5;
  border-radius: $radius-1;
  color: $white;
  font-size: $size-6;
  line-height: 1;
  margin: $size-4 $size-4 0 0;
  padding: $size-2 $size-3;
  text-decoration: none;
  @media (min-width: $breakpoint-2) {
    margin: 0 $size-4;
    padding: $size-3 $size-5;
  }
}

.navbar__brand-text {
  margin: 0;
  padding: 0;
}

.navbar__brand:hover,
.navbar__brand:focus {
  background: $primary-6;
  outline: none;
}

.navbar__link-box {
  display: flex;
  flex-direction: column;
  padding: $size-2 0;
  @media (min-width: $breakpoint-2) {
    flex-direction: row;
  }
}

.navbar__link-text {
  line-height: 1;
  margin: $size-1 0;
  padding: 0;
}

.navbar__link {
  color: $gray-9;
  display: none;
  font-size: $size-4;
  line-height: 1;
  margin: 0 $size-6;
  padding: 0;
  text-decoration: none;
  @media (min-width: $breakpoint-2) {
    display: block;
  }
}

.navbar__link:hover,
.navbar__link:focus {
  border-bottom: 3px solid $gray-5;
  margin-bottom: -3px;
  outline: none;
  @media (max-width: $breakpoint-2) {
    border-left: 3px solid $gray-4;
    margin-left: 7px;
    outline: none;
  }
}

.navbar__link--show {
  color: $gray-9;
  display: block;
  font-size: $size-4;
  margin: 0 $size-4 $size-2 0;
  padding-left: 0;
  text-decoration: none;
}

.navbar__link--active {
  color: $primary-8;
  font-size: $size-4;
  font-weight: bold;
  text-decoration: none;
}

.navbar__link-button {
  background: none;
  border: none;
  font-family: $text;
  font-weight: $size-4;
  padding: $size-4;
  @media (max-width: $breakpoint-2) {
    margin-bottom: $size-5;
    padding-left: $size-2;
  }
}

.navbar__link-button:focus {
  outline: none;
}

.navbar__hamburger {
  align-self: flex-end;
  color: $gray-7;
  cursor: pointer;
  display: block;
  font-size: $size-6;
  justify-self: flex-start;
  margin: 0;
  padding: $size-1 $size-3 0 0;
  position: absolute;
  @media (min-width: $breakpoint-2) {
    display: none;
  }
}
