.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $size-4 $size-7;
  width: 100%;
  @media (min-width: $breakpoint-2) {
    margin: $size-7;
    width: 100rem;
  }
}
