.project {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: $size-5;
  padding: 0;
}

.project__image-box {
  background-size: cover;
  border-radius: $radius-2;
  box-shadow: $shadow-3;
  height: $size-12;
  margin: 0;
  padding: 0;
  transition: background-image 1.25s ease;
  transition-delay: 0.25s;
  width: $size-14;
}

.project__image-box--meal {
  background-image: url(/images/meal-to-list-edit.jpg);
}

.project__image-box--expensify {
  background-image: url(/images/expensify-dashboard.jpg);
}

.project__image-box--pantry {
  background-image: url(/images/the-pantry-map.jpg);
}

.project__image-box--portfolio {
  background-image: url(/images/portfolio-home.jpg);
}

.project__image-box:hover {
  background-color: $primary-6;
  background-image: none;
}

.project__link-box {
  background: $primary-6;
  border-radius: $radius-2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  opacity: 0;
  transition: opacity 1.25s ease;
  width: 100%;
}

.project__link-box:hover {
  opacity: 1;
}

.project__link {
  background: $primary-6;
  border: $size-1 solid $secondary-4;
  border-radius: $radius-2;
  color: $white;
  font-family: $text;
  font-size: $size-4;
  margin: $size-3 $size-9;
  outline: none;
  padding: $size-2;
  text-align: center;
  text-decoration: none;
  transition: background 0.5s ease;
}

.project__link:hover {
  background: $primary-5;
}

.project__info-box {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 $size-7;
  padding: 0;
  width: $size-13;
}

.project__name {
  border-bottom: $size-1 solid $secondary-4;
  color: $primary-1;
  font-family: $text;
  font-size: $size-4;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-top: 0;
  padding: 0 0 $size-1 0;
}

.project__description {
  color: $white;
  font-family: $text;
  font-size: $size-4;
  margin-top: 0;
}

.project__tools-label {
  color: $primary-2;
  font-weight: 300;
}
