.quote__box {
  display: flex;
  flex-direction: column;
  margin: $size-5 0 $size-8 0;
}

.quote {
  color: $white;
  font-family: $text;
  font-size: $size-3;
  font-style: italic;
  line-height: 2;
  width: 100%;
  @media (min-width: $breakpoint-1) {
    font-size: $size-4;
  }
  @media (min-width: $breakpoint-2) {
    border-left: $size-1 solid $secondary-4;
    font-size: $size-5;
    padding-left: $size-7;
    width: $size-14;
  }
}

.quote__author-details {
  align-self: flex-end;
  padding: $size-2;
}

.quote__author {
  color: $primary-2;
  font-family: $text;
  font-size: $size-2;
  font-weight: 700;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-1) {
    font-size: $size-3;
  }
  @media (min-width: $breakpoint-2) {
    font-size: $size-4;
  }
}

.quote__author-position {
  color: $primary-3;
  font-family: $text;
  font-size: $size-2;
  font-weight: 300;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-1) {
    font-size: $size-3;
  }
  @media (min-width: $breakpoint-2) {
    font-size: $size-4;
  }
}

.quote__author-company {
  color: $primary-3;
  font-family: $text;
  font-size: $size-2;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-1) {
    font-size: $size-3;
  }
  @media (min-width: $breakpoint-2) {
    font-size: $size-4;
  }
}
