.recommendations {
  align-items: center;
  background: $primary-7;
  border-top: $size-1 solid $primary-5;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}

.recommendations__title-box {
  background: $white;
  border: $size-1 solid $primary-5;
  border-radius: $size-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -$size-6;
  padding: $size-2 $size-6;
  @media (min-width: $breakpoint-2) {
    align-self: flex-start;
    margin-left: $size-7;
  }
}

.recommendations__title {
  color: $primary-7;
  font-family: $header;
  font-size: $size-4;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-2) {
    font-size: $size-6;
  }
}

.recommendations__quotes {
  display: flex;
  flex-direction: column;
  margin: 0;
  @media (min-width: $breakpoint-2) {
    margin: $size-8 0;
  }
}

.recommendations__requests-box {
  align-items: center;
  align-self: flex-end;
  display: flex;
  margin: 0 $size-4;
  padding: 0;
}

.recommendations__requests {
  align-self: flex-start;
  color: $primary-2;
  font-family: $text;
  font-size: $size-4;
}

.recommendations__requests-hyphen {
  align-self: flex-end;
  color: $secondary-4;
  font-family: $text;
  font-size: $size-5;
  margin: 0 $size-2;
}
