.section-title__box {
  align-self: flex-start;
  background: $white;
  border: $size-1 solid $primary-8;
  border-radius: $size-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -$size-6 0 0 $size-7;
  padding: $size-2 $size-6;
}

.section-title {
  color: $primary-7;
  font-family: $header;
  font-size: $size-6;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
}
