.skill {
  align-items: center;
  border: 1px solid $gray-3;
  border-radius: $radius-2;
  display: flex;
  flex-direction: column;
  margin: $size-4 auto;
  padding: $size-5;
  width: 80%;
  @media (min-width: $breakpoint-2) {
    margin: $size-4;
    padding: $size-5;
    width: $size-14;
  }
}

.skill__title-box {
  border-bottom: $size-1 solid $secondary-3;
  display: flex;
  justify-content: center;
  padding: 0;
  width: 100%;
  @media (min-width: $breakpoint-2) {
    width: $size-12;
  }
}

.skill__title {
  color: $primary-7;
  font-family: $text;
  font-size: $size-4;
  @media (min-width: $breakpoint-2) {
    font-size: $size-5;
  }
}

.skill__box {
  padding-top: $size-5;
  width: 100%;
}

.skill__name {
  color: $gray-7;
  font-family: $text;
  font-size: $size-4;
  text-align: center;
}
