.skills {
  align-items: center;
  border-top: $size-1 solid $primary-5;
  display: flex;
  flex-direction: column;
  padding-bottom: $size-8;
  @media (min-width: $breakpoint-1) {
    padding-left: 20%;
    padding-right: 20%;
  }
  @media (min-width: $breakpoint-2) {
    padding: 0;
    padding-bottom: $size-8;
  }
}

.skills__title-box {
  background: $white;
  border: $size-1 solid $primary-5;
  border-radius: $size-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -$size-5;
  padding: $size-2;
  @media (min-width: $breakpoint-2) {
    align-self: flex-start;
    margin-left: $size-7;
    margin-top: -$size-6;
    padding: $size-2 $size-6;
  }
}

.skills__title {
  color: $primary-7;
  font-family: $header;
  font-size: $size-4;
  font-weight: 400;
  letter-spacing: 0.3rem;
  margin: 0;
  padding: 0;
  @media (min-width: $breakpoint-2) {
    font-size: $size-6;
  }
}

.skills__set-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  width: 100%;
  @media (min-width: $breakpoint-2) {
    flex-direction: row;
    margin: $size-9 $size-7;
    width: 100rem;
  }
}
