.social {
  color: $primary-5;
  font-size: $size-7;
  margin: $size-5;
  outline: none;
  transition-property: color, transform;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.social:hover,
.social:focus {
  color: $primary-6;
  transform: scale(1.2);
}
