.home-image-box {
  background: $gradient-1;
  border-radius: $radius-2;
  box-shadow: $shadow-2;
  padding: $size-7;
}

.home-image {
  border-radius: $radius-2;
  box-shadow: $shadow-3;
  height: $size-13;
  margin-right: -$size-10;
  width: $size-13;
}
